In [2]:
#Loding dataframe libraries
import pandas as pd

In [3]:
ipl_auction_df=pd.read_csv("ipl_auction_price.csv")

In [4]:
ipl_auction_df

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,...,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,...,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,...,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,...,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,...,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,126,"Yadav, AS",2,IND,DC,Batsman,0,0,0,0.00,...,125.64,2,0,0,0.00,0.00,0.00,2010,50000,750000
126,127,Younis Khan,2,PAK,RR,Batsman,6398,7,6814,75.78,...,42.85,0,0,0,0.00,0.00,0.00,2008,225000,225000
127,128,Yuvraj Singh,2,IND,KXIP+,Batsman,1775,9,8051,87.58,...,131.88,67,569,23,24.74,7.02,21.13,2011,400000,1800000
128,129,Zaheer Khan,2,IND,MI+,Bowler,1114,288,790,73.55,...,91.67,1,1783,65,27.43,7.75,21.26,2008,200000,450000
129,130,"Zoysa, DNT",2,SL,DC,Bowler,288,64,343,95.81,...,122.22,0,99,2,49.50,9.00,33.00,2008,100000,110000

In [5]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [6]:
ipl_auction_df.head()

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,CAPTAINCY EXP,RUNS-S,HS,AVE,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,0,0.0,0,0,0,0.00,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,185,37.6,0,0,0,0.00,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,288,32.9,0,167,39,18.56,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,51,36.8,0,58,11,5.80,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,0,0.0,0,1317,71,32.93,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000

In [7]:
#seeing the columns
ipl_auction_df.columns

Index(['Sl.NO.', 'PLAYER NAME', 'AGE', 'COUNTRY', 'TEAM', 'PLAYING ROLE',
       'T-RUNS', 'T-WKTS', 'ODI-RUNS-S', 'ODI-SR-B', 'ODI-WKTS', 'ODI-SR-BL',
       'CAPTAINCY EXP', 'RUNS-S', 'HS', 'AVE', 'SR-B', 'SIXERS', 'RUNS-C',
       'WKTS', 'AVE-BL', 'ECON', 'SR-BL', 'AUCTION YEAR', 'BASE PRICE',
       'SOLD PRICE'],
      dtype='object')

In [8]:
#Seeing the shape
ipl_auction_df.shape

(130, 26)

In [9]:
#seeing the information about players
ipl_auction_df.transpose()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129
Sl.NO.,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130
PLAYER NAME,"Abdulla, YA",Abdur Razzak,"Agarkar, AB","Ashwin, R","Badrinath, S","Bailey, GJ","Balaji, L","Bollinger, DE","Botha, J","Boucher, MV","Bravo, DJ","Chanderpaul, S","Chawla, PP","de Villiers, AB","Dhawan, S","Dhoni, MS","Dilshan, TM","Dinda, AB","Dravid, RS","Duminy, J-P","Edwards, FH","Fernando, CRD","Fleming, SP","Flintoff, A","Gambhir, G","Ganguly, SC","Gayle, CH","Gibbs, HH","Gilchrist, AC","Gony, MS",Harbhajan Singh,"Harris, RJ","Hayden, ML","Henderson, T","Henriques, MC","Hodge, BJ","Hopes, JR","Hussey, DJ","Hussey, MEK","Jadeja, RA","Jaffer, W","Jayasuriya, ST","Jayawardena, DPMD","Kaif, M","Kallis, JH",Kamran Akmal,Kamran Khan,"Karthik, KD","Kartik, M","Katich, SM","Kohli, V","Kumar, P","Kumble, A","Langeveldt, CK","Laxman, VVS","Lee, B","Maharoof, MF","Malinga, SL","Mascarenhas, AD","Mathews, AD","McCullum, BB","McDonald, AB","McGrath, GD",Misbah-ul-Haq,"Mishra, A","Mithun, A",Mohammad Asif,"Morkel, JA","Morkel, M","Muralitharan, M","Nannes, DP","Nayar, AM","Nehra, A","Noffke, AA","Ntini, M","Ojha, NV","Ojha, PP","Oram, JDP",Pankaj Singh,"Patel, MM","Patel, PA","Pathan, IK","Pathan, YK","Pietersen, KP","Pollock, SM","Pomersbach, LA","Ponting, RT","Powar, RR","Raina, SK","Ryder, JD","Saha, WP","Sangakkara, KC","Sarwan, RR","Sehwag, V",Shahid Afridi,"Sharma, I","Sharma, J","Sharma, RG",Shoaib Akhtar,Shoaib Malik,"Silva, LPC","Singh, RP","Smith, DR","Smith, GC",Sohail Tanvir,"Sreesanth, S","Steyn, DW","Styris, SB","Symonds, A","Taibu, T","Taylor, LRPL","Tendulkar, SR","Tiwary, MK","Tiwary, SS","Tyagi, S",Umar Gul,"Uthappa, RV","Vaas, WPUJC",Van der Merwe,"Venugopal Rao, Y","Vettori, DL","Vinay Kumar, R","Warne, SK","Warner, DA","White, CL","Yadav, AS",Younis Khan,Yuvraj Singh,Zaheer Khan,"Zoysa, DNT"
AGE,2,2,2,1,2,2,2,2,2,2,2,3,1,2,2,2,2,2,3,2,2,2,3,2,2,3,2,3,3,2,2,2,3,3,1,3,2,2,3,1,2,3,2,2,3,2,1,2,2,3,1,1,3,3,3,2,2,2,2,1,2,2,3,3,2,1,2,2,2,3,3,2,2,2,2,2,1,2,2,2,2,2,2,2,3,2,3,2,1,2,2,2,2,2,2,1,2,1,3,2,2,2,2,2,2,2,2,3,3,2,2,3,2,1,1,2,2,3,2,2,2,2,3,1,2,2,2,2,2,2
COUNTRY,SA,BAN,IND,IND,IND,AUS,IND,AUS,SA,SA,WI,WI,IND,SA,IND,IND,SL,IND,IND,SA,WI,SL,NZ,ENG,IND,IND,WI,SA,AUS,IND,IND,AUS,AUS,SA,AUS,AUS,AUS,AUS,AUS,IND,IND,SL,SL,IND,SA,PAK,IND,IND,IND,AUS,IND,IND,IND,SA,IND,AUS,SL,SL,ENG,SL,NZ,AUS,AUS,PAK,IND,IND,PAK,SA,SA,SL,AUS,IND,IND,AUS,SA,IND,IND,NZ,IND,IND,IND,IND,IND,ENG,SA,AUS,AUS,IND,IND,NZ,IND,SL,WI,IND,PAK,IND,IND,IND,PAK,PAK,SL,IND,WI,SA,PAK,IND,SA,NZ,AUS,ZIM,NZ,IND,IND,IND,IND,PAK,IND,SL,SA,IND,NZ,IND,AUS,AUS,AUS,IND,PAK,IND,IND,SL
TEAM,KXIP,RCB,KKR,CSK,CSK,CSK,CSK+,CSK,RR,RCB+,MI+,RCB,KXIP,DD+,MI+,CSK,DD+,KKR+,RCB+,MI+,DC,MI,CSK,CSK,DD+,KKR+,KKR+,DC,DC+,CSK+,MI,DC+,CSK,RR,KKR+,KKR+,KXIP,KKR+,CSK,RR+,RCB,MI,KXIP+,RR+,RCB,RR,RR+,DD+,KKR+,KXIP,RCB,RCB+,RCB,KKR+,DC+,KXI+,DD,MI,RR+,KKR+,KKR+,DD+,DD,RCB,DD+,RCB,DD,CSK,RR+,CSK+,DD+,MI+,DD+,RCB,CSK,RR+,DC+,CSK+,RCB+,RR+,CSK+,KXIP+,RR+,RCB+,MI,KXIP+,KKR,KXIP+,CSK,RCB+,KKR+,KXIP+,KXIP,DD,DC,KKR+,CSK,DC+,KKR,DD,DC,DC+,DC+,RR+,RR,KXIP+,RCB+,DC+,DC+,KKR,RCB+,MI,DD+,MI+,CSK,KKR,RCB+,DC,RCB+,DC+,DD+,RCB+,RR,DD,RCB+,DC,RR,KXIP+,MI+,DC
PLAYING ROLE,Allrounder,Bowler,Bowler,Bowler,Batsman,Batsman,Bowler,Bowler,Allrounder,W. Keeper,Allrounder,Batsman,Allrounder,W. Keeper,Batsman,W. Keeper,Allrounder,Bowler,Batsman,Batsman,Bowler,Bowler,Batsman,Allrounder,Batsman,Batsman,Allrounder,Batsman,W. Keeper,Bowler,Bowler,Bowler,Batsman,Allrounder,Allrounder,Batsman,Allrounder,Allrounder,Batsman,Allrounder,Allrounder,Allrounder,Batsman,Batsman,Allrounder,W. Keeper,Bowler,W. Keeper,Bowler,Batsman,Batsman,Bowler,Bowler,Bowler,Batsman,Bowler,Allrounder,Bowler,Allrounder,Allrounder,W. Keeper,Allrounder,Bowler,Batsman,Bowler,Bowler,Bowler,Allrounder,Bowler,Bowler,Bowler,Allrounder,Bowler,Allrounder,Bowler,W. Keeper,Bowler,Allrounder,Bowler,Bowler,W. Keeper,Allrounder,Allrounder,Batsman,Allrounder,Batsman,Batsman,Bowler,Batsman,Allrounder,W. Keeper,W. Keeper,Batsman,Batsman,Allrounder,Bowler,Allrounder,Batsman,Bowler,Allrounder,Batsman,Bowler,Allrounder,Batsman,Bowler,Bowler,Bowler,Allrounder,Allrounder,W. Keeper,Batsman,Batsman,Batsman,Batsman,Bowler,Bowler,Batsman,Bowler,Allrounder,Batsman,Allrounder,Bowler,Bowler,Batsman,Batsman,Batsman,Batsman,Batsman,Bowler,Bowler
T-RUNS,0,214,571,284,63,0,51,54,83,5515,2200,9918,5,5457,0,3509,4722,0,13288,654,380,249,7172,3845,3712,7212,6373,6167,5570,0,2164,199,8625,0,0,503,0,0,5708,0,1944,6973,10440,624,12379,2648,0,1000,88,4188,491,149,2506,16,8781,1451,556,275,0,1219,3763,107,641,2173,392,120,141,58,555,1261,0,0,77,0,699,0,70,1780,0,60,683,1105,0,6654,3781,0,13218,13,710,1269,74,9382,5842,8178,1716,432,0,0,544,1606,537,116,320,8042,17,281,770,1586,1462,1546,2742,15470,0,0,0,541,0,3089,0,0,4486,11,3154,483,146,0,6398,1775,1114,288
T-WKTS,0,18,58,31,0,0,27,50,17,1,86,9,3,2,0,0,32,0,1,11,157,97,0,226,0,32,72,0,0,0,406,46,0,0,0,0,0,0,7,0,2,98,6,0,276,0,0,0,24,21,0,27,619,16,2,310,25,101,0,7,0,9,563,0,43,9,106,1,139,800,0,0,44,0,390,0,62,60,0,35,0,100,0,5,421,0,5,6,13,5,0,0,23,40,48,133,0,0,178,21,1,40,7,8,5,87,272,20,24,1,2,45,0,0,0,157,0,355,0,0,359,1,708,2,5,0,7,9,288,64
ODI-RUNS-S,0,657,1269,241,79,172,120,50,609,4686,2004,8778,38,4998,69,6773,6455,18,10889,2536,73,239,8037,3394,4819,11363,8087,8094,9619,0,1190,48,6133,0,18,575,1326,1488,5262,860,10,13430,10596,2753,11498,2924,0,1008,126,1324,3590,292,938,73,2338,1100,1042,327,245,1447,4511,0,115,2763,5,51,34,782,117,674,1,0,141,0,199,1,41,2377,3,74,736,1468,810,4184,3519,0,13704,163,3525,1100,4,10472,5644,8090,7040,47,35,1961,394,5253,1587,104,925,6598,268,44,142,4483,5088,3393,3185,18426,165,49,1,368,786,2025,39,218,2105,43,1018,876,2037,0,6814,8051,790,343
ODI-SR-B,0,71.41,80.62,84.56,45.93,72.26,78.94,92.59,85.77,84.76,81.39,70.74,65.51,93.19,56.09,88.19,86.8,60,71.24,84,45.62,60.96,71.49,88.82,86.17,73.7,83.95,83.26,96.94,0,80.51,100,78.96,0,60,87.51,93.71,91.4,86.97,78.61,43.47,91.21,78.08,72.03,72.97,84.31,0,74.5,70.78,68.74,86.31,88.21,61.06,58.87,71.23,82.45,84.44,73.81,95.33,82.59,89.62,0,48.72,75.1,27.77,92.72,34,100.25,75.97,77.56,50,0,57.31,0,66.77,14.28,43.61,87.16,100,66.07,76.5,78.96,113.6,86.76,86.69,0,80.39,62.69,92.71,89.72,80,75.75,75.76,104.68,113.87,34.05,116.66,78.85,73.23,78.37,70.4,42.97,97.26,81.58,94.03,36.36,73.57,79.41,92.44,67.58,81.77,86.23,75.68,87.5,50,69.04,91.92,72.52,95.12,60.05,81.93,43.87,72.04,85.79,80.48,0,75.78,87.58,73.55,95.81
ODI-WKTS,0,185,288,51,0,0,34,62,72,0,142,14,32,0,0,1,67,5,4,25,60,187,1,169,0,100,156,0,0,2,259,44,0,0,1,1,67,18,2,57,0,323,7,0,270,0,0,0,37,0,2,77,337,100,0,377,133,185,13,42,0,0,381,0,19,3,46,50,94,534,1,0,157,1,266,0,20,168,0,86,0,165,33,7,393,0,3,34,16,11,0,0,16,95,344,64,1,8,247,139,1,69,56,18,55,75,91,137,133,2,0,154,1,0,3,154,0,400,17,0,282,28,293,0,12,0,3,109,278,108
ODI-SR-BL,0,37.6,32.9,36.8,0,0,42.5,31.3,53,0,34.1,52.8,41,0,0,12,58.3,61.4,46.5,47.6,35.6,34.7,29,33.2,0,45.6,44.4,0,0,39,46.5,23.4,0,0,90,66,47.1,36.2,117,46.2,0,46,83.1,0,39.3,0,0,0,51.5,0,137,42.1,43,34.8,0,29.2,33.3,31.1,63.2,43,0,0,34,0,40.1,60,42.1,41.4,28.5,35.2,42,0,36.6,54,32.6,0,41.7,39.7,0,36.6,0,34,45.1,57.1,39.9,0,50,45.1,61.9,34.8,0,0,36.3,45.4,43.4,33.6,150,59.1,31.4,47.6,42,37.1,44.8,57,37.4,33,33.7,44.6,44.6,42,0,52.2,60,0,55,32.2,0,39.4,41.4,0,45.7,35.3,36.3,0,27.5,0,86.6,44.3,35.4,39.4
CAPTAINCY EXP,0,0,0,0,0,1,0,0,1,1,0,1,0,1,0,1,1,0,1,0,0,0,1,1,1,1,1,1,1,0,1,0,0,0,0,0,0,0,1,0,0,1,1,0,1,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,0,0,0,1,0,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,1,0,0
RUNS-S,0,0,167,58,1317,63,26,21,335,394,839,25,337,1302,1540,1782,1077,6,1703,978,4,4,196,62,2065,1349,1804,886,1775,54,430,115,1107,11,49,1006,417,971,958,904,130,768,1471,259,1965,128,3,1231,111,241,1639,243,35,8,282,103,177,64,74,376,1233,123,4,117,186,32,3,781,60,20,4,563,38,9,11,960,10,106,7,39,912,929,1488,634,147,244,39,67,2254,604,372,1567,73,1879,81,37,36,1975,2,52,40,52,439,739,36,33,70,131,974,31,895,2047,969,836,3,39,1538,81,137,914,121,217,198,1025,745,49,3,1237,99,11
HS,0,0,39,11,71,48,15,16,67,50,70,16,24,105,95,70,76,2,75,74,3,2,45,24,93,91,128,69,109,15,49,17,93,11,30,73,71,71,116,48,50,114,110,34,89,53,3,69,21,75,73,34,8,8,52,25,39,17,27,65,158,33,4,47,31,11,3,71,16,6,3,35,22,9,11,94,3,41,4,23,57,60,100,103,33,79,20,28,98,86,59,94,31,119,33,9,16,109,2,24,23,10,87,91,13,15,13,36,117,15,81,100,75,42,3,24,69,20,35,71,29,25,34,109,78,16,3,66,23,10
AVE,0,0,18.56,5.8,32.93,21,4.33,21,30.45,28.14,27.97,8.33,13.48,34.26,31.43,37.13,28.34,1,27.92,36.22,4,0,21.77,31,33.31,25.45,50.11,27.69,27.73,9,16.54,10.45,36.9,5.5,16.33,31.44,26.06,26.24,39.92,23.18,16.25,27.43,30.65,14.39,30.7,25.6,3,24.14,18.5,24.1,28.26,10.57,11.67,4,15.67,11.44,17.7,5.82,8.22,25.07,28.02,30.75,4,16.71,10.94,8,1.5,24.41,10,3.33,4,19.41,19,9,11,22.33,1,13.25,3.5,7.8,20.27,23.82,25.66,42.27,18.37,27.11,9.75,22.33,33.64,21.57,28.62,27.98,18.25,30.31,10.12,9.25,9,31.35,2,13,20,3.47,25.82,28.42,12,11,4.67,18.71,36.07,10.33,27.97,37.91,31.26,25.33,3,13,26.98,10.13,15.22,22.29,15.13,9.43,9.9,27.7,31.04,9.8,3,26.32,9.9,11
SR-B,0,0,121.01,76.32,120.71,95.45,72.22,165.88,114.73,127.51,127.12,80.64,113.09,128.53,122.32,136.45,117.83,33.33,116.88,119.27,80,133.33,118.78,116.98,128.9,106.81,161.79,109.79,140.21,117.39,151.41,107.48,137.52,68.75,108.89,121.5,136.27,125.78,120.65,120.86,107.44,144.36,128.02,103.6,110.95,164.1,60,123.84,105.71,129.57,119.29,114.08,74.47,88.89,105.62,121.18,143.9,100,101.37,123.28,123.42,125.51,80,144.44,102.2,133.33,50,146.25,111.11,66.67,30.77,123.19,82.61,90,61.11,117.94,30.3,98.15,58.33,235.49,107.29,128.31,149.25,141.2,132.43,130.48,73.58,104.69,139.39,131.88,128.28,124.76,97.33,167.32,176.08,80.43,120,129.17,28.57,110.63,153.84,68.42,148.81,110.63,124.13,64.71,86.42,98.5,129.87,119.23,130.28,119.22,113.33,119.6,0.75,205.26,126.17,110.96,118.1,118.24,107.08,104.83,92.52,135.76,132.09,125.64,42.85,131.88,91.67,122.22
SIXERS,0,0,5,0,28,0,1,1,3,13,38,0,9,42,36,64,24,0,23,35,0,0,3,2,32,42,129,31,86,5,22,3,44,1,1,28,11,48,25,35,3,39,33,6,37,8,0,28,1,8,49,14,0,1,5,6,9,4,1,12,48,4,0,6,3,1,0,45,2,0,0,19,1,0,0,50,0,5,0,0,13,34,81,30,8,12,1,1,97,19,16,27,1,79,6,1,2,82,0,0,1,1,24,9,1,0,1,3,41,0,45,24,22,32,0,5,59,3,8,37,2,5,6,44,29,2,0,67,1,0
RUNS-C,307,29,1059,1125,0,0,1342,693,610,0,1338,0,1819,0,66,0,356,926,0,377,154,298,0,105,0,363,606,0,0,999,1469,975,0,40,142,300,548,345,0,750,0,390,0,0,1713,0,224,0,1013,0,345,1919,105,187,0,1009,520,1381,331,537,0,244,357,0,1530,435,296,1899,884,1395,627,263,1192,40,242,0,1548,327,468,1504,0,1975,1139,215,301,0,0,527,678,303,0,0,0,226,225,1176,419,408,54,85,21,1892,338,0,266,1031,1304,276,674,0,24,58,45,0,295,184,0,355,427,321,878,1664,1447,0,70,0,0,569,1783,99
WKTS,15,0,29,49,0,0,52,37,19,0,47,0,73,0,4,0,5,36,0,10,5,17,0,2,0,10,13,0,0,30,54,44,0,1,3,17,14,6,0,26,0,13,0,0,45,0,9,0,21,0,4,53,2,13,0,21,27,83,19,15,0,10,12,0,74,6,8,69,38,57,24,7,48,1,7,0,69,9,11,70,0,66,36,7,11,0,0,13,20,8,0,0,0,6,9,36,12,14,5,2,0,74,9,0,22,35,59,8,20,0,0,0,1,0,6,12,0,18,18,6,28,61,57,0,0,0,0,23,65,2
AVE-BL,20.47,0,36.52,22.96,0,0,25.81,18.73,32.11,0,28.47,0,126.3,0,16.5,0,71.2,25.72,0,37.7,30.8,17.53,0,52.5,0,36.3,46.62,0,0,33.3,27.2,22.16,0,40,47.33,17.65,39.14,57.5,0,28.85,0,30,0,0,38.07,0,24.89,0,48.24,0,86.25,36.21,52.5,14.38,0,48.05,19.26,16.64,17.42,35.8,0,24.4,29.75,0,20.68,72.5,37,27.52,23.26,24.47,26.13,37.57,24.83,40,34.57,0,22.43,36.33,42.55,21.49,0,29.92,31.64,30.71,27.36,0,0,40.54,33.9,37.88,0,0,0,37.67,25,32.67,34.92,29.14,10.8,42.5,0,25.57,37.56,0,12.09,29.46,22.1,34.5,33.7,0,0,0,45,0,49.17,15.33,0,19.72,23.72,53.5,31.36,27.28,25.39,0,0,0,0,24.74,27.43,49.5
ECON,8.9,14.5,8.81,6.23,0,0,7.98,7.22,6.85,0,8.12,0,38.11,0,8.25,0,8.07,7.29,0,7.11,6.6,7.64,0,9.55,0,7.89,8.05,0,0,8.47,6.85,7.71,0,6.66,8.82,7.89,9.13,8.85,0,7.33,0,7.96,0,0,7.96,0,8.48,0,7.02,0,8.84,7.73,9.55,7.19,0,7.56,7.43,6.36,7.01,8.2,0,8.41,6.61,0,7.11,9.89,9.25,8.25,7.37,6.49,7.17,8.74,7.57,10,6.91,0,7.16,9.26,9.36,7.39,0,7.74,7.2,7.41,6.54,0,0,7.42,7.05,7.73,0,0,0,10.56,7.5,7.63,9.88,8,7.71,10,21,7.75,8.14,0,6.46,8.25,6.58,7.67,7.7,0,12,9.67,11.25,0,8.55,8.17,0,7.55,6.83,9.44,6.81,8.24,7.27,0,14,0,0,7.02,7.75,9
SR-BL,13.93,0,24.9,22.14,0,0,19.4,15.57,28.11,0,21.11,0,100.2,0,12,0,53,21.19,0,31.8,28,13.76,0,33,0,27.6,34.85,0,0,23.6,23.83,17.27,0,36,32.33,13.41,25.71,39,0,23.65,0,22.62,0,0,28.71,0,17.78,0,41.33,0,58.5,28.11,33,12,0,38.24,15.56,15.69,14.95,26.33,0,17.4,27,0,17.46,44,24,20.01,18.95,22.63,21.92,25.86,19.73,24,30,0,18.8,23.67,27.27,17.47,0,23.23,26.36,24.86,25,0,0,32.77,28.9,29.5,0,0,0,21.67,20,23.61,21.33,21.86,8.4,25.5,0,19.78,27.89,0,11.2,21.43,20.15,27,26.35,0,0,0,24,0,34.83,11.2,0,15.67,20.94,34,27.75,19.87,20.95,0,0,0,0,21.13,21.26,33
AUCTION YEAR,2009,2008,2008,2011,2011,2009,2011,2011,2011,2008,2011,2008,2008,2008,2011,2008,2008,2011,2011,2009,2009,2008,2008,2009,2008,2011,2008,2008,2008,2011,2008,2011,2008,2009,2011,2011,2011,2008,2008,2011,2008,2008,2008,2008,2008,2008,2009,2008,2008,2008,2011,2011,2008,2011,2008,2008,2008,2008,2011,2011,2008,2011,2008,2010,2011,2011,2008,2008,2011,2008,2011,2011,2011,2010,2008,2011,2011,2008,2011,2008,2008,2008,2008,2009,2008,2011,2008,2008,2008,2009,2011,2008,2008,2011,2008,2008,2008,2008,2008,2008,2008,2008,2009,2008,2008,2008,2008,2008,2008,2008,2008,2011,2008,2011,2011,2008,2008,2008,2011,2011,2008,2011,2008,2011,2008,2010,2008,2011,2008,2008
BASE PRICE,50000,50000,200000,100000,100000,50000,100000,200000,200000,200000,200000,200000,125000,200000,100000,400000,150000,100000,400000,300000,150000,150000,350000,950000,220000,200000,250000,250000,300000,50000,250000,200000,225000,100000,50000,200000,200000,100000,250000,100000,150000,250000,250000,125000,225000,150000,20000,200000,200000,200000,150000,200000,250000,100000,150000,300000,150000,200000,100000,300000,175000,50000,350000,100000,100000,100000,225000,225000,100000,250000,200000,50000,200000,20000,200000,100000,200000,200000,50000,100000,150000,200000,100000,1350000,200000,20000,335000,150000,125000,100000,100000,250000,225000,400000,225000,150000,100000,150000,250000,300000,100000,200000,100000,250000,100000,200000,150000,175000,250000,125000,400000,400000,100000,100000,50000,150000,200000,200000,50000,100000,250000,100000,450000,200000,100000,50000,225000,400000,200000,100000
SOLD PRICE,50000,50000,350000,850000,800000,50000,500000,700000,950000,450000,200000,200000,400000,300000,300000,1500000,250000,375000,500000,300000,150000,150000,350000,1550000,725000,400000,800000,575000,700000,290000,850000,325000,375000,650000,50000,425000,350000,625000,250000,950000,150000,975000,475000,675000,900000,150000,24000,525000,425000,200000,1800000,800000,500000,140000,375000,900000,225000,350000,100000,950000,700000,80000,350000,100000,300000,260000,650000,675000,475000,600000,650000,800000,850000,20000,200000,270000,500000,675000,95000,275000,325000,925000,475000,1550000,550000,50000,400000,170000,650000,160000,100000,700000,225000,1800000,675000,950000,225000,750000,425000,500000,100000,875000,100000,250000,100000,625000,325000,175000,1350000,125000,1000000,1800000,675000,1600000,240000,150000,800000,200000,50000,700000,625000,475000,450000,750000,500000,750000,225000,1800000,450000,110000

In [10]:
#checking info of datasets
df=ipl_auction_df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sl.NO.         130 non-null    int64
 1   PLAYER NAME    130 non-null    object
 2   AGE            130 non-null    int64
 3   COUNTRY        130 non-null    object
 4   TEAM           130 non-null    object
 5   PLAYING ROLE   130 non-null    object
 6   T-RUNS         130 non-null    int64
 7   T-WKTS         130 non-null    int64
 8   ODI-RUNS-S     130 non-null    int64
 9   ODI-SR-B       130 non-null    float64
 10  ODI-WKTS       130 non-null    int64
 11  ODI-SR-BL      130 non-null    float64
 12  CAPTAINCY EXP  130 non-null    int64
 13  RUNS-S         130 non-null    int64
 14  HS             130 non-null    int64
 15  AVE            130 non-null    float64
 16  SR-B           130 non-null    float64
 17  SIXERS         130 non-null    int64
 18  RUNS-C         130 non-null    int64
 19  WKTS           130 non-null    int64
 20  AVE-BL         130 non-null    float64
 21  ECON           130 non-null    float64
 22  SR-BL          130 non-null    float64
 23  AUCTION YEAR   130 non-null    int64
 24  BASE PRICE     130 non-null    int64
 25  SOLD PRICE     130 non-null    int64
dtypes: float64(7), int64(15), object(4)
memory usage: 26.5+ KB

In [11]:
#slicing and indexing
df[0:5]

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,CAPTAINCY EXP,RUNS-S,HS,AVE,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,0,0.0,0,0,0,0.00,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,185,37.6,0,0,0,0.00,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,288,32.9,0,167,39,18.56,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,51,36.8,0,58,11,5.80,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,0,0.0,0,1317,71,32.93,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000

In [12]:
df["PLAYER NAME"]

0            Abdulla, YA
1           Abdur Razzak
2            Agarkar, AB
3              Ashwin, R
4           Badrinath, S
5             Bailey, GJ
6              Balaji, L
7          Bollinger, DE
8               Botha, J
9            Boucher, MV
10             Bravo, DJ
11        Chanderpaul, S
12            Chawla, PP
13       de Villiers, AB
14             Dhawan, S
15             Dhoni, MS
16           Dilshan, TM
17             Dinda, AB
18            Dravid, RS
19           Duminy, J-P
20           Edwards, FH
21         Fernando, CRD
22           Fleming, SP
23           Flintoff, A
24            Gambhir, G
25           Ganguly, SC
26             Gayle, CH
27             Gibbs, HH
28         Gilchrist, AC
29              Gony, MS
30       Harbhajan Singh
31            Harris, RJ
32            Hayden, ML
33          Henderson, T
34         Henriques, MC
35             Hodge, BJ
36             Hopes, JR
37            Hussey, DJ
38           Hussey, MEK
39            Jadeja, RA
40             Jaffer, W
41        Jayasuriya, ST
42     Jayawardena, DPMD
43               Kaif, M
44            Kallis, JH
45          Kamran Akmal
46           Kamran Khan
47           Karthik, KD
48             Kartik, M
49            Katich, SM
50              Kohli, V
51              Kumar, P
52             Kumble, A
53        Langeveldt, CK
54           Laxman, VVS
55                Lee, B
56          Maharoof, MF
57           Malinga, SL
58       Mascarenhas, AD
59           Mathews, AD
60          McCullum, BB
61          McDonald, AB
62           McGrath, GD
63         Misbah-ul-Haq
64             Mishra, A
65             Mithun, A
66         Mohammad Asif
67            Morkel, JA
68             Morkel, M
69       Muralitharan, M
70            Nannes, DP
71             Nayar, AM
72              Nehra, A
73            Noffke, AA
74              Ntini, M
75              Ojha, NV
76              Ojha, PP
77             Oram, JDP
78          Pankaj Singh
79             Patel, MM
80             Patel, PA
81            Pathan, IK
82            Pathan, YK
83         Pietersen, KP
84           Pollock, SM
85        Pomersbach, LA
86           Ponting, RT
87             Powar, RR
88             Raina, SK
89             Ryder, JD
90              Saha, WP
91        Sangakkara, KC
92            Sarwan, RR
93             Sehwag, V
94         Shahid Afridi
95             Sharma, I
96             Sharma, J
97            Sharma, RG
98         Shoaib Akhtar
99          Shoaib Malik
100           Silva, LPC
101            Singh, RP
102            Smith, DR
103            Smith, GC
104        Sohail Tanvir
105         Sreesanth, S
106            Steyn, DW
107           Styris, SB
108           Symonds, A
109             Taibu, T
110         Taylor, LRPL
111        Tendulkar, SR
112           Tiwary, MK
113           Tiwary, SS
114             Tyagi, S
115             Umar Gul
116          Uthappa, RV
117          Vaas, WPUJC
118        Van der Merwe
119     Venugopal Rao, Y
120          Vettori, DL
121       Vinay Kumar, R
122            Warne, SK
123           Warner, DA
124            White, CL
125            Yadav, AS
126          Younis Khan
127         Yuvraj Singh
128          Zaheer Khan
129           Zoysa, DNT
Name: PLAYER NAME, dtype: object

In [13]:
df[['PLAYER NAME','COUNTRY']]

           PLAYER NAME COUNTRY
0          Abdulla, YA      SA
1         Abdur Razzak     BAN
2          Agarkar, AB     IND
3            Ashwin, R     IND
4         Badrinath, S     IND
5           Bailey, GJ     AUS
6            Balaji, L     IND
7        Bollinger, DE     AUS
8             Botha, J      SA
9          Boucher, MV      SA
10           Bravo, DJ      WI
11      Chanderpaul, S      WI
12          Chawla, PP     IND
13     de Villiers, AB      SA
14           Dhawan, S     IND
15           Dhoni, MS     IND
16         Dilshan, TM      SL
17           Dinda, AB     IND
18          Dravid, RS     IND
19         Duminy, J-P      SA
20         Edwards, FH      WI
21       Fernando, CRD      SL
22         Fleming, SP      NZ
23         Flintoff, A     ENG
24          Gambhir, G     IND
25         Ganguly, SC     IND
26           Gayle, CH      WI
27           Gibbs, HH      SA
28       Gilchrist, AC     AUS
29            Gony, MS     IND
30     Harbhajan Singh     IND
31          Harris, RJ     AUS
32          Hayden, ML     AUS
33        Henderson, T      SA
34       Henriques, MC     AUS
35           Hodge, BJ     AUS
36           Hopes, JR     AUS
37          Hussey, DJ     AUS
38         Hussey, MEK     AUS
39          Jadeja, RA     IND
40           Jaffer, W     IND
41      Jayasuriya, ST      SL
42   Jayawardena, DPMD      SL
43             Kaif, M     IND
44          Kallis, JH      SA
45        Kamran Akmal     PAK
46         Kamran Khan     IND
47         Karthik, KD     IND
48           Kartik, M     IND
49          Katich, SM     AUS
50            Kohli, V     IND
51            Kumar, P     IND
52           Kumble, A     IND
53      Langeveldt, CK      SA
54         Laxman, VVS     IND
55              Lee, B     AUS
56        Maharoof, MF      SL
57         Malinga, SL      SL
58     Mascarenhas, AD     ENG
59         Mathews, AD      SL
60        McCullum, BB      NZ
61        McDonald, AB     AUS
62         McGrath, GD     AUS
63       Misbah-ul-Haq     PAK
64           Mishra, A     IND
65           Mithun, A     IND
66       Mohammad Asif     PAK
67          Morkel, JA      SA
68           Morkel, M      SA
69     Muralitharan, M      SL
70          Nannes, DP     AUS
71           Nayar, AM     IND
72            Nehra, A     IND
73          Noffke, AA     AUS
74            Ntini, M      SA
75            Ojha, NV     IND
76            Ojha, PP     IND
77           Oram, JDP      NZ
78        Pankaj Singh     IND
79           Patel, MM     IND
80           Patel, PA     IND
81          Pathan, IK     IND
82          Pathan, YK     IND
83       Pietersen, KP     ENG
84         Pollock, SM      SA
85      Pomersbach, LA     AUS
86         Ponting, RT     AUS
87           Powar, RR     IND
88           Raina, SK     IND
89           Ryder, JD      NZ
90            Saha, WP     IND
91      Sangakkara, KC      SL
92          Sarwan, RR      WI
93           Sehwag, V     IND
94       Shahid Afridi     PAK
95           Sharma, I     IND
96           Sharma, J     IND
97          Sharma, RG     IND
98       Shoaib Akhtar     PAK
99        Shoaib Malik     PAK
100         Silva, LPC      SL
101          Singh, RP     IND
102          Smith, DR      WI
103          Smith, GC      SA
104      Sohail Tanvir     PAK
105       Sreesanth, S     IND
106          Steyn, DW      SA
107         Styris, SB      NZ
108         Symonds, A     AUS
109           Taibu, T     ZIM
110       Taylor, LRPL      NZ
111      Tendulkar, SR     IND
112         Tiwary, MK     IND
113         Tiwary, SS     IND
114           Tyagi, S     IND
115           Umar Gul     PAK
116        Uthappa, RV     IND
117        Vaas, WPUJC      SL
118      Van der Merwe      SA
119   Venugopal Rao, Y     IND
120        Vettori, DL      NZ
121     Vinay Kumar, R     IND
122          Warne, SK     AUS
123         Warner, DA     AUS
124          White, CL     AUS
125          Yadav, AS     IND
126        Younis Khan     PAK
127       Yuvraj Singh     IND
128        Zaheer Khan     IND
129         Zoysa, DNT      SL

In [14]:
#vaLue count and crosstabulation
df.COUNTRY.value_counts()

IND    53
AUS    22
SA     16
SL     12
PAK     9
NZ      7
WI      6
ENG     3
BAN     1
ZIM     1
Name: COUNTRY, dtype: int64

In [15]:
#Percentage of occurance of each unique valuedf
df.COUNTRY.value_counts(normalize=True)*100

IND    40.769231
AUS    16.923077
SA     12.307692
SL      9.230769
PAK     6.923077
NZ      5.384615
WI      4.615385
ENG     2.307692
BAN     0.769231
ZIM     0.769231
Name: COUNTRY, dtype: float64

In [16]:
pd.crosstab(df['AGE'],df['PLAYING ROLE'])

PLAYING ROLE  Allrounder  Batsman  Bowler  W. Keeper
AGE
1                      4        5       7          0
2                     25       21      29         11
3                      6       13       8          1

In [17]:
df[['PLAYER NAME','SOLD PRICE']].sort_values

<bound method DataFrame.sort_values of            PLAYER NAME  SOLD PRICE
0          Abdulla, YA       50000
1         Abdur Razzak       50000
2          Agarkar, AB      350000
3            Ashwin, R      850000
4         Badrinath, S      800000
5           Bailey, GJ       50000
6            Balaji, L      500000
7        Bollinger, DE      700000
8             Botha, J      950000
9          Boucher, MV      450000
10           Bravo, DJ      200000
11      Chanderpaul, S      200000
12          Chawla, PP      400000
13     de Villiers, AB      300000
14           Dhawan, S      300000
15           Dhoni, MS     1500000
16         Dilshan, TM      250000
17           Dinda, AB      375000
18          Dravid, RS      500000
19         Duminy, J-P      300000
20         Edwards, FH      150000
21       Fernando, CRD      150000
22         Fleming, SP      350000
23         Flintoff, A     1550000
24          Gambhir, G      725000
25         Ganguly, SC      400000
26           Gayle, CH      800000
27           Gibbs, HH      575000
28       Gilchrist, AC      700000
29            Gony, MS      290000
30     Harbhajan Singh      850000
31          Harris, RJ      325000
32          Hayden, ML      375000
33        Henderson, T      650000
34       Henriques, MC       50000
35           Hodge, BJ      425000
36           Hopes, JR      350000
37          Hussey, DJ      625000
38         Hussey, MEK      250000
39          Jadeja, RA      950000
40           Jaffer, W      150000
41      Jayasuriya, ST      975000
42   Jayawardena, DPMD      475000
43             Kaif, M      675000
44          Kallis, JH      900000
45        Kamran Akmal      150000
46         Kamran Khan       24000
47         Karthik, KD      525000
48           Kartik, M      425000
49          Katich, SM      200000
50            Kohli, V     1800000
51            Kumar, P      800000
52           Kumble, A      500000
53      Langeveldt, CK      140000
54         Laxman, VVS      375000
55              Lee, B      900000
56        Maharoof, MF      225000
57         Malinga, SL      350000
58     Mascarenhas, AD      100000
59         Mathews, AD      950000
60        McCullum, BB      700000
61        McDonald, AB       80000
62         McGrath, GD      350000
63       Misbah-ul-Haq      100000
64           Mishra, A      300000
65           Mithun, A      260000
66       Mohammad Asif      650000
67          Morkel, JA      675000
68           Morkel, M      475000
69     Muralitharan, M      600000
70          Nannes, DP      650000
71           Nayar, AM      800000
72            Nehra, A      850000
73          Noffke, AA       20000
74            Ntini, M      200000
75            Ojha, NV      270000
76            Ojha, PP      500000
77           Oram, JDP      675000
78        Pankaj Singh       95000
79           Patel, MM      275000
80           Patel, PA      325000
81          Pathan, IK      925000
82          Pathan, YK      475000
83       Pietersen, KP     1550000
84         Pollock, SM      550000
85      Pomersbach, LA       50000
86         Ponting, RT      400000
87           Powar, RR      170000
88           Raina, SK      650000
89           Ryder, JD      160000
90            Saha, WP      100000
91      Sangakkara, KC      700000
92          Sarwan, RR      225000
93           Sehwag, V     1800000
94       Shahid Afridi      675000
95           Sharma, I      950000
96           Sharma, J      225000
97          Sharma, RG      750000
98       Shoaib Akhtar      425000
99        Shoaib Malik      500000
100         Silva, LPC      100000
101          Singh, RP      875000
102          Smith, DR      100000
103          Smith, GC      250000
104      Sohail Tanvir      100000
105       Sreesanth, S      625000
106          Steyn, DW      325000
107         Styris, SB      175000
108         Symonds, A     1350000
109           Taibu, T      125000
110       Taylor, LRPL     1000000
111      Tendulkar, SR     1800000
112         Tiwary, MK      675000
113         Tiwary, SS     1600000
114           Tyagi, S      240000
115           Umar Gul      150000
116        Uthappa, RV      800000
117        Vaas, WPUJC      200000
118      Van der Merwe       50000
119   Venugopal Rao, Y      700000
120        Vettori, DL      625000
121     Vinay Kumar, R      475000
122          Warne, SK      450000
123         Warner, DA      750000
124          White, CL      500000
125          Yadav, AS      750000
126        Younis Khan      225000
127       Yuvraj Singh     1800000
128        Zaheer Khan      450000
129         Zoysa, DNT      110000>

In [18]:
df[['PLAYER NAME','SOLD PRICE']].sort_values('SOLD PRICE',ascending=False)[0:10]

       PLAYER NAME  SOLD PRICE
93       Sehwag, V     1800000
127   Yuvraj Singh     1800000
50        Kohli, V     1800000
111  Tendulkar, SR     1800000
113     Tiwary, SS     1600000
83   Pietersen, KP     1550000
23     Flintoff, A     1550000
15       Dhoni, MS     1500000
108     Symonds, A     1350000
110   Taylor, LRPL     1000000

In [19]:
#Creating new columns
df['Premium']=df['SOLD PRICE']

In [20]:
df.head()

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,CAPTAINCY EXP,RUNS-S,HS,AVE,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE,Premium
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,0,0.0,0,0,0,0.00,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,185,37.6,0,0,0,0.00,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,288,32.9,0,167,39,18.56,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000,350000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,51,36.8,0,58,11,5.80,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,0,0.0,0,1317,71,32.93,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000,800000

In [21]:
df['Premium']=df['SOLD PRICE']-df['BASE PRICE']

In [22]:
df.head()

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,CAPTAINCY EXP,RUNS-S,HS,AVE,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE,Premium
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,0,0.0,0,0,0,0.00,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000,0
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,185,37.6,0,0,0,0.00,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000,0
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,288,32.9,0,167,39,18.56,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000,150000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,51,36.8,0,58,11,5.80,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000,750000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,0,0.0,0,1317,71,32.93,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000,700000

In [23]:
df[['PLAYER NAME',
    'BASE PRICE',
   'SOLD PRICE','Premium']].sort_values('Premium',ascending=False)[0:10]

       PLAYER NAME  BASE PRICE  SOLD PRICE  Premium
50        Kohli, V      150000     1800000  1650000
113     Tiwary, SS      100000     1600000  1500000
127   Yuvraj Singh      400000     1800000  1400000
111  Tendulkar, SR      400000     1800000  1400000
93       Sehwag, V      400000     1800000  1400000
108     Symonds, A      250000     1350000  1100000
15       Dhoni, MS      400000     1500000  1100000
39      Jadeja, RA      100000      950000   850000
95       Sharma, I      150000      950000   800000
3        Ashwin, R      100000      850000   750000

In [24]:
#Grouping and aggregating
df.groupby('AGE')['SOLD PRICE'].mean()

AGE
1    720250.000000
2    484534.883721
3    520178.571429
Name: SOLD PRICE, dtype: float64

In [25]:
sold_price_age=df.groupby('AGE')['SOLD PRICE'].mean().reset_index()
print(sold_price_age)

   AGE     SOLD PRICE
0    1  720250.000000
1    2  484534.883721
2    3  520178.571429

In [32]:
sold_price_by_age_role=df.groupby(['AGE','PLAYING ROLE'])['SOLD PRICE'].mean().reset_index()
print(sold_price_by_age_role)

    AGE PLAYING ROLE    SOLD PRICE
0     1   Allrounder  5.875000e+05
1     1      Batsman  1.110000e+06
2     1       Bowler  5.177143e+05
3     2   Allrounder  4.494000e+05
4     2      Batsman  6.547619e+05
5     2       Bowler  3.979310e+05
6     2    W. Keeper  4.677273e+05
7     3   Allrounder  7.666667e+05
8     3      Batsman  4.576923e+05
9     3       Bowler  4.143750e+05
10    3    W. Keeper  7.000000e+05

### Joining DataFrame

In [34]:
sold_price_comparision=sold_price_by_age_role.merge(sold_price_age,on='AGE',how='outer')

In [36]:
(sold_price_comparision)

    AGE PLAYING ROLE  SOLD PRICE_x   SOLD PRICE_y
0     1   Allrounder  5.875000e+05  720250.000000
1     1      Batsman  1.110000e+06  720250.000000
2     1       Bowler  5.177143e+05  720250.000000
3     2   Allrounder  4.494000e+05  484534.883721
4     2      Batsman  6.547619e+05  484534.883721
5     2       Bowler  3.979310e+05  484534.883721
6     2    W. Keeper  4.677273e+05  484534.883721
7     3   Allrounder  7.666667e+05  520178.571429
8     3      Batsman  4.576923e+05  520178.571429
9     3       Bowler  4.143750e+05  520178.571429
10    3    W. Keeper  7.000000e+05  520178.571429

### Renaming the columns

In [37]:
sold_price_comparision.rename(columns={'SOLD PRICE_x':'SOLD_PRICE_AGE_ROLE','SOLD PRICE_y':'SOLD_PRICE_AGE'},inplace=True)

In [38]:
sold_price_comparision

    AGE PLAYING ROLE  SOLD_PRICE_AGE_ROLE  SOLD_PRICE_AGE
0     1   Allrounder         5.875000e+05   720250.000000
1     1      Batsman         1.110000e+06   720250.000000
2     1       Bowler         5.177143e+05   720250.000000
3     2   Allrounder         4.494000e+05   484534.883721
4     2      Batsman         6.547619e+05   484534.883721
5     2       Bowler         3.979310e+05   484534.883721
6     2    W. Keeper         4.677273e+05   484534.883721
7     3   Allrounder         7.666667e+05   520178.571429
8     3      Batsman         4.576923e+05   520178.571429
9     3       Bowler         4.143750e+05   520178.571429
10    3    W. Keeper         7.000000e+05   520178.571429

### APPLYING OPERATION TO MULTIPLE COLUMNS

In [39]:
sold_price_comparision['change']=sold_price_comparision.apply(lambda rec:(rec.SOLD_PRICE_AGE_ROLE-rec.SOLD_PRICE_AGE)/rec.SOLD_PRICE_AGE,axis=1)

In [40]:
sold_price_comparision

    AGE PLAYING ROLE  SOLD_PRICE_AGE_ROLE  SOLD_PRICE_AGE    change
0     1   Allrounder         5.875000e+05   720250.000000 -0.184311
1     1      Batsman         1.110000e+06   720250.000000  0.541132
2     1       Bowler         5.177143e+05   720250.000000 -0.281202
3     2   Allrounder         4.494000e+05   484534.883721 -0.072513
4     2      Batsman         6.547619e+05   484534.883721  0.351320
5     2       Bowler         3.979310e+05   484534.883721 -0.178736
6     2    W. Keeper         4.677273e+05   484534.883721 -0.034688
7     3   Allrounder         7.666667e+05   520178.571429  0.473853
8     3      Batsman         4.576923e+05   520178.571429 -0.120125
9     3       Bowler         4.143750e+05   520178.571429 -0.203399
10    3    W. Keeper         7.000000e+05   520178.571429  0.345692

### Filtering Record based on condition

In [42]:
df[df['SIXERS']>80][['PLAYER NAME','SIXERS']]

      PLAYER NAME  SIXERS
26      Gayle, CH     129
28  Gilchrist, AC      86
82     Pathan, YK      81
88      Raina, SK      97
97     Sharma, RG      82

In [44]:
#remove the columns from the data set
df.drop('Sl.NO.',axis=1,inplace=True)

In [45]:
df.columns

Index(['PLAYER NAME', 'AGE', 'COUNTRY', 'TEAM', 'PLAYING ROLE', 'T-RUNS',
       'T-WKTS', 'ODI-RUNS-S', 'ODI-SR-B', 'ODI-WKTS', 'ODI-SR-BL',
       'CAPTAINCY EXP', 'RUNS-S', 'HS', 'AVE', 'SR-B', 'SIXERS', 'RUNS-C',
       'WKTS', 'AVE-BL', 'ECON', 'SR-BL', 'AUCTION YEAR', 'BASE PRICE',
       'SOLD PRICE', 'Premium'],
      dtype='object')