### Conditional Statement

In [1]:
x=10
y=12
#if x is greater than y
if x>y:
    print(x>y)
#if x is lesser than y
elif x<y:
    print(x<y)
else:
    print(x=y)

True

In [2]:
x=5
#True if x is more than 10 or assign false using ternary operation
isgreater =True if x>10 else False
print(isgreater)

False

#### Generating Sequence Numbers

In [3]:
#Initializing the sequence of number starting from 1
#and ending (not including )with 6
numbers=range(1,6)
numbers

range(1, 6)

### Control Flow Statement

In [4]:
#Interate through the collection
for i in numbers:
    print(i)

1
2
3
4
5

### Function:

In [5]:
def addelement(a,b):
    return a+b
result=addelement(2,3)
result

5

In [6]:
result=addelement(2.3,4.5)
result

6.8

In [7]:
result=addelement('Python','workshop')
result

'Pythonworkshop'

In [8]:
addelement(4,5)

9

### working with Collection

In [9]:
#Create a empty list
emptylist=[]

In [10]:
batsman=["Rohit","Dhawan","Kholi","Dhoni","Jadeja","Hardhik"]

In [11]:
batsman[3]

'Dhoni'

In [12]:
#Slicing the list
batsman[0:3]

['Rohit', 'Dhawan', 'Kholi']

In [13]:
#Accessing the last elements
batsman[-1]

'Hardhik'

In [14]:
#How many elements in the list
len(batsman)

6

In [16]:
#Two separate list can  be cocatenated into one using + operator
bowlers=["Bumrah","Shami","Bhuvi","Kuldeep","Chahal"]
all_players=batsman+bowlers
(all_players)

['Rohit',
 'Dhawan',
 'Kholi',
 'Dhoni',
 'Jadeja',
 'Hardhik',
 'Bumrah',
 'Shami',
 'Bhuvi',
 'Kuldeep',
 'Chahal']

In [17]:
#Finding if an item exits in a list or not
"Shami"in bowlers

True

In [18]:
"Dhoni" in bowlers

False

In [20]:
#Finding the index of an item in the list
all_players.index('Dhoni')

3

#### The item in a list can be arranged in reverse order by calling reverse function in  the list

In [ ]:
all_players.reverse()

In [22]:
all_players

['Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Hardhik',
 'Jadeja',
 'Dhoni',
 'Kholi',
 'Dhawan',
 'Rohit']

### Tuples

In [23]:
odiDebut=('Dhoni',2004)
odiDebut

('Dhoni', 2004)

In [24]:
odiDebut[0]

'Dhoni'

In [25]:
odiDebut[1]

2004

In [26]:
Players=tuple(all_players)

In [27]:
Players

('Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Hardhik',
 'Jadeja',
 'Dhoni',
 'Kholi',
 'Dhawan',
 'Rohit')

### SET

In [28]:
set_of_numbers={6,5,4,3,2,1}
set_of_numbers

{1, 2, 3, 4, 5, 6}

In [29]:
wc2011={'Dhoni','Sehwag','Tendulkar','Gambhir','Kohli','Raina','Yuvraj','Yusuf'}
wc2015={'Dhoni','Dhawan','Rohit','Rahane','Kohli','Raina','Rayadu','jadeja'}

In [30]:
#Find the list of all batsman who played in 2011 or 2015 worldcup,we can take union of the two sets
wc2011.union(wc2015)

{'Dhawan',
 'Dhoni',
 'Gambhir',
 'Kohli',
 'Rahane',
 'Raina',
 'Rayadu',
 'Rohit',
 'Sehwag',
 'Tendulkar',
 'Yusuf',
 'Yuvraj',
 'jadeja'}

In [31]:
wc2011.intersection(wc2015)

{'Dhoni', 'Kohli', 'Raina'}

In [33]:
#If we need to find the new batsman who was not part of 2011 and included in 2015
wc2015.difference(wc2011)

{'Dhawan', 'Rahane', 'Rayadu', 'Rohit', 'jadeja'}

### Dictionary

In [34]:
wcWinners={1975:'West Indies',1979:'West Indies',1983:'India',1987:'Australia',1991:'Pakistan',1996:'Srilanka',
          1999:'Australia',2003:'Australia',2007:'Australia',2011:'India',2015:'Australia',2019:'England'}

In [36]:
wcWinners[1987]

'Australia'

In [37]:
#For a list winning countries
wcWinners.values()

dict_values(['West Indies', 'West Indies', 'India', 'Australia', 'Pakistan', 'Srilanka', 'Australia', 'Australia', 'Australia', 'India', 'Australia', 'England'])

In [39]:
set(wcWinners.values())

{'Australia', 'England', 'India', 'Pakistan', 'Srilanka', 'West Indies'}

In [40]:
wcWinners

{1975: 'West Indies',
 1979: 'West Indies',
 1983: 'India',
 1987: 'Australia',
 1991: 'Pakistan',
 1996: 'Srilanka',
 1999: 'Australia',
 2003: 'Australia',
 2007: 'Australia',
 2011: 'India',
 2015: 'Australia',
 2019: 'England'}

#### Dealing with string

In [43]:
string0='python'
string1="machine learning"
string2="""This is Multiline String"""

In [44]:
#Converting to string0 to uppercase
string0.upper()

'PYTHON'

In [45]:
#Similarly string1 into lower
string1.lower()

'machine learning'

In [46]:
#For slpiting the string
tokens=string1.split(' ')

In [47]:
tokens

['machine', 'learning']

### Function programming

In [1]:
intlist=[1,2,3,4,5,6,7,8,9]
#Create an empty list
squarelist=[]
#Loop through the intlist,square everytime and append the result
for x in intlist:
    squarelist.append(pow(x,2))
print(squarelist)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
#define a fuction square_me that an integers and return the square value of it
def square_me(x):
    return x*x
squarelist=map(square_me,intlist)
list(squarelist)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
#Example of filter
evenInts=filter(lambda x: x%2==0,intlist)

In [7]:
list(evenInts)

[2, 4, 6, 8]

### Module and packages

In [8]:
import math
#taking square root of a value
math.sqrt(16)

4.0

In [9]:
from random import sample
sample(range(0,11),3)

[2, 7, 6]

In [11]:
import random
randomlist=random.sample(range(0,100),20)
randomlist

[68, 20, 45, 91, 79, 16, 96, 10, 6, 19, 5, 13, 53, 3, 60, 52, 55, 46, 32, 27]

In [12]:
from statistics import mean,median
def getMeanAndMedian(listnum):
    return mean(listnum),median(listnum)

In [13]:
mean,median=getMeanAndMedian(randomlist)
print("Mean:",mean,"Median:",median)

Mean: 39.8 Median: 38.5